<template>
  <div class="home">
    <section class="section-home">
      <div class="introduction">
        <h2 class="title">a la vanguardia de la jardineria!</h2>
        <p>
          Muchas veces, aunque nos interesan las plantas, desconocemos
          su proceso, no sabemos donde comprar ni como sembrar y por
          eso lo dejamos de lado. VendoPlantas no solo lo vuelve todo
          mas facil, sino que ademas te instruye y te permite la
          compra y venta, rapida y segura de muchas variedades de
          plantas.
        </p>
        <button class="btn btn-primary">Comienza Ahora!</button>
      </div>
      <img
        src="../assets/hero-image.jpg"
        alt="plantas decorativas sobre una mesa"
      />
    </section>
    <section>
      <h2 class="title-productos">
        Mas vendido
      </h2>
      <div class="productos">
        <Producto
          :image="require('@/assets/default-flower.jpeg')"
          name="Claveles"
          price="1000"
          stock="60"
          seller="Fernando S.A"
        />
        <Producto
          :image="require('@/assets/default-flower.jpeg')"
          name="Claveles"
          price="1000"
          stock="60"
          seller="Fernando S.A"
        />
        <Producto
          :image="require('@/assets/default-flower.jpeg')"
          name="Claveles"
          price="1000"
          stock="60"
          seller="Fernando S.A"
        />
        <Producto
          :image="require('@/assets/default-flower.jpeg')"
          name="Claveles"
          price="1000"
          stock="60"
          seller="Fernando S.A"
        />
      </div>
    </section>
  </div>
</template>

<script>
import Producto from '../components/Producto.vue';
export default {
  name: 'Home',
  components: {
    Producto,
  },
};
</script>
<style scoped>
.home {
  width: 100%;
  background-color: #eadccd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3.5rem auto;
  width: 85%;
  border: 1px solid black;
  border-radius: 2.5rem;
  background-color: #fff;
  filter: drop-shadow(2px 2px 2px rgb(114, 112, 112));
}
.title {
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.title-productos {
  text-align: left;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}
.btn-primary {
  background-color: #2bc92b;
}
img {
  width: 100%;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}
p {
  font-size: 1.25rem;
  margin: 0 0.5rem;
}
.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
</style>
