<template>
  <div class="producto">
    <img :src="image" alt="" />
    <h3>{{ name }}</h3>
    <div>
      <p>${{ price }}</p>
      <p class="stock">{{ stock }} en stock</p>
    </div>
    <p>{{ seller }}</p>
  </div>
</template>

<script>
export default {
  name: 'Producto',
  props: {
    image: String,
    name: String,
    price: Number,
    stock: Number,
    seller: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.producto {
  width: 270px;
  background-color: #fff;
  border-radius: 1rem;
  filter: drop-shadow(2px 2px 3px);
}
img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
h3 {
  font-size: 2.5rem;
  margin: 0.25rem auto;
}
p {
  margin: 0.3rem;
  font-size: 1.25rem;
  text-align: left;
}
.producto div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stock {
  color: #49af59;
}
</style>
