<template>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Allura&family=Cookie&family=Fleur+De+Leah&family=Norican&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://necolas.github.io/normalize.css/8.0.0/normalize.css"
  />
  <div id="nav">
    <div class="contenedor">
      <div class="navegacion">
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-plant-2"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M2 9a10 10 0 1 0 20 0" />
            <path d="M12 19a10 10 0 0 1 10 -10" />
            <path d="M2 9a10 10 0 0 1 10 10" />
            <path d="M12 4a9.7 9.7 0 0 1 2.99 7.5" />
            <path d="M9.01 11.5a9.7 9.7 0 0 1 2.99 -7.5" />
          </svg>
          <span @click="home" class="logo">
            VendoPlantas
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-plant-2"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M2 9a10 10 0 1 0 20 0" />
            <path d="M12 19a10 10 0 0 1 10 -10" />
            <path d="M2 9a10 10 0 0 1 10 10" />
            <path d="M12 4a9.7 9.7 0 0 1 2.99 7.5" />
            <path d="M9.01 11.5a9.7 9.7 0 0 1 2.99 -7.5" />
          </svg>
        </a>
        <button class="boton" href="#" @click="register">
          Registrarse
        </button>
        <button class="boton" href="#" @click="login">
          Ingresar
        </button>
      </div>
    </div>
  </div>
  <router-view />
  <div id="nav1">
    <footer class="footer contenedor">
      <b
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-instagram"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#000000"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <rect x="4" y="4" width="16" height="16" rx="4" />
          <circle cx="12" cy="12" r="3" />
          <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" /></svg
        >Instagram
      </b>
      <sapn></sapn>
      <b>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-twitter"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#000000"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
          />
        </svg>
        Twitter
      </b>
      <sapn></sapn>
      <b>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-facebook"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#000000"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
          />
        </svg>
        Facebook
      </b>
      <div class="navegacion2">
        <b> Terminos y Condiciones</b> <span> </span>
        <b> Políticas cookies</b>
        <span> </span>
        <b> Políticas privacidad</b>
      </div>
      <div class="navegacion3">
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-plant-2"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M2 9a10 10 0 1 0 20 0" />
            <path d="M12 19a10 10 0 0 1 10 -10" />
            <path d="M2 9a10 10 0 0 1 10 10" />
            <path d="M12 4a9.7 9.7 0 0 1 2.99 7.5" />
            <path d="M9.01 11.5a9.7 9.7 0 0 1 2.99 -7.5" />
          </svg>
          VendoPlantas
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-plant-2"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M2 9a10 10 0 1 0 20 0" />
            <path d="M12 19a10 10 0 0 1 10 -10" />
            <path d="M2 9a10 10 0 0 1 10 10" />
            <path d="M12 4a9.7 9.7 0 0 1 2.99 7.5" />
            <path d="M9.01 11.5a9.7 9.7 0 0 1 2.99 -7.5" />
          </svg>
        </a>
      </div>
    </footer>
  </div>
</template>
<script>
export default {
  name: 'App',
  data: function() {},
  methods: {
    register: function() {
      this.$router.push({ name: 'SignUp' });
    },
    login() {
      this.$router.push({ name: 'Login' });
    },
    home() {
      this.$router.push({ name: 'Home' });
    },
  },
  created: function() {},
};
</script>

<style>
.logo {
  cursor: pointer;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  scroll-snap-type: y mandatory;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#nav {
  background-color: #0ba761;
  color: #212121;
}

#nav1 {
  background-color: #0ba761;
  color: #212121;
  background-color: #0ba761;

  color: #212121;
}

#nav1 {
  background-color: #0ba761;
  color: #212121;
}

#nav a {
  font-family: 'Norican', cursive;
  padding: 2rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}

#nav b {
  color: #212121;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer b {
  color: #212121;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer a {
  font-family: 'Norican', cursive;
  padding: 2rem 2rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  color: #212121;
}

.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}

.contenedor2 {
  width: min(5%, 40rem);
  margin: 0 auto;
}
.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegacion2 {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.boton {
  background-color: #e6e4e4;
  color: #ffffff;
  margin-top: 0.4rem;
  margin-inline-end: 1px;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: none;
  align-items: center;
  cursor: pointer;
}

.footer {
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  height: 29vh;
  min-height: 100px;
}

.footer b {
  color: #212121;

  text-decoration: none;

  font-size: 1.2rem;

  font-weight: 700;
}

.footer a {
  font-family: 'Norican', cursive;

  padding: 2rem 2rem;

  text-decoration: none;

  font-size: 2.5rem;

  font-weight: 700;

  color: #212121;
  margin-top: 2rem;
  width: 100%;
  height: 29vh;
  min-height: 100px;
}

.contenedor {
  width: min(90%, 120rem);

  margin: 0 auto;
}

.navegacion2 {
  display: flex;

  margin-top: 1rem;

  margin-bottom: 1rem;

  justify-content: center;

  align-items: center;

  gap: 4rem;
}
</style>
